/* REVERSIDE 
 * -------------*/

/* Spacing */
.tiny-spacing { -fx-spacing: 5px; }
.small-spacing { -fx-spacing: 10px; }
.medium-spacing { -fx-spacing: 15px; }
.large-spacing { -fx-spacing: 20px; }
.huge-spacing { -fx-spacing: 40px; }

/* padding */
.large-padding { -fx-padding: 20px; }
.small-padding { -fx-padding: 10px; }
.medium-padding { -fx-padding: 15px; }

.medium-padding { -fx-padding: 15px; }
.medium-horizontal-padding { -fx-padding: 0 15px; }
.medium-vertical-padding { -fx-padding: 15px 0; }


.root {
	-fx-background-color: transparent;
}

.main {
	-fx-background-color: #1B2127;
	-fx-background-radius: 15px;
}

.header {
	-fx-background-color: #161C21;
	-fx-background-radius: 15px 15px 0 0;
	-fx-padding: 15px 30px 15px 30px;
	-fx-border-color: #1B2127;
	-fx-border-width: 0 0 1px 0;
}

.header .label {
	-fx-text-fill: #f6f6f6;
}

.header .app-name {
	-fx-font-weight: bold;
}

.header .item {
	-fx-background-color: #252A30;
	-fx-background-radius: 5px;
	-fx-padding: 3px 8px;
	-fx-font-size: 0.9em;
	-fx-text-fill: #D1D2D3;
}

.header .image-view { -fx-opacity: 0.6; }

.header .emphase { -fx-background-color: #EB4747; }

.header .user {
	-fx-background-color: #252A30;
	-fx-background-radius: 100%;
	-fx-min-width: 30px;
	-fx-min-height: 30px;
	-fx-alignment: center;
	-fx-font-weight: bold;
}

.offline-indication {
	-fx-background-color: #EB4747;
	-fx-background-radius: 100%;
	-fx-min-width: 6px;
	-fx-min-height: 6px;
}

.online-indication {
	-fx-background-color: #6FCF97;
	-fx-background-radius: 100%;
	-fx-min-width: 6px;
	-fx-min-height: 6px;
}

.text-emphase { -fx-font-weight: bold; }


/* Center */

.call {
	-fx-background-color: #252A30;
	-fx-background-radius: 15px;
	-fx-border-color: #181E23;
	-fx-border-width: 3px;
	-fx-border-radius: 13px;
	-fx-min-width: 250px;
}

.call-contact {
	-fx-background-color: rgba(0,0,0,0.8);
	-fx-background-radius: 5px;
	-fx-padding: 3px 8px;
	-fx-alignment: center;
}

.call-contact .label {
	-fx-text-fill: #F6F6F6;
}

.microphone {
	-fx-background-color: #4745CD;
	-fx-background-radius: 100%;
}


/* Buttons */

.button-secondary {
	-fx-background-color: #252A30;
}

.primary-button {
	 -fx-background-color: #EB4747; 
}

.primary-button-right-side {
	 -fx-background-color: #4544C7; 
	 -fx-text-fill: white;
}

.rounded-button {
	-fx-background-radius: 100%;
	-fx-min-width: 35px;
	-fx-min-height: 35px;
	-fx-pref-width: 35px;
	-fx-pref-height: 35px;
	-fx-max-width: 35px;
	-fx-max-height: 35px;
	-fx-content-display: graphic_only;
	-fx-padding: 0;
}

.rounded-primary-button {
	-fx-border-radius: 100%;
	-fx-background-insets: #45292D;
}

.transparent-button {
	-fx-background-color: transparent;
}

.button-more {
	-fx-text-fill: #72777D;
	-fx-font-weight: bold;
	-fx-background-insets: 0;
	-fx-padding: 2px 5px 7px 5px;
	-fx-background-color: transparent;
}


/* Right side */

.right-side {
	-fx-background-color: #161C21;
	-fx-background-radius: 0 0 15px 0;
}

.right-side .header-box {
	-fx-border-color: #1B2127;
	-fx-border-width: 0 0 1px 0;
}

.right-side .header-button {
	-fx-text-fill: #6C7076;
	-fx-padding: 10px;
}

.right-side .header-button:selected {
	-fx-text-fill: #CED0D1;
	-fx-border-color: #4646C9;
	-fx-border-width: 0 0 1px 0;
}

.right-side .chat-number {
	-fx-background-color: #4646C9;
	-fx-background-radius: 40%;
	-fx-padding: 2px 5px;
	-fx-text-fill: #fff;
	-fx-alignment: center;
	-fx-font-size: 0.8em;
}

.right-side-groups {
	-fx-padding: 15px;
}

.right-side-group {
	-fx-background-color: #242A31;
	-fx-background-radius: 10px;
	-fx-border-color: #2E363A;
	-fx-border-width: 1px;
	-fx-border-radius: 10px;
}

.right-side-group .group-name {
	-fx-background-color: #2B3239;
	-fx-background-radius: 10px 10px 0 0;
	-fx-padding: 10px;
}

.right-side-group .label { -fx-text-fill: #72777D; }

.right-side-group .underline {
	-fx-border-color: #2E363A;
	-fx-border-width: 0 0 1px 0;
}

.right-side-group .emphase { 
	-fx-font-weight: bold;
	-fx-text-fill: #CED0D1;
}

.right-side-group .tag { 
	-fx-background-color: #2B3239;
	-fx-background-radius: 5px;
	-fx-padding: 2px 5px;
}


.right-side-group .progress-container {
	-fx-spacing: 1px;
}

.right-side-group .progress-control {
	-fx-background-color: #393D45;
	-fx-pref-width: 14px;
	-fx-min-width: 14px;
	-fx-max-width: 14px;
	-fx-min-height: 8px;
	-fx-pref-height: 8px;
	-fx-max-height: 8px;
}

.right-side-group .line {
	-fx-background-color: #1B2127;
	-fx-min-height: 2px;
	-fx-pref-height: 2px;
	-fx-max-height: 2px;
}

.right-side-group .line-level1 {
	 -fx-background-color: #6BC894; 
}

.right-side-group .line-level2 {
	 -fx-background-color: #E8C34E; 
}

.waiting-room-box {
	-fx-background-color: #293037;
}

.waiting-room-count {
	-fx-background-color: #363B43;
	-fx-background-radius: 40%;
	-fx-padding: 2px 5px;
	-fx-text-fill: #fff;
	-fx-alignment: center;
	-fx-font-size: 0.8em;
}
